body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./images/bg-stars.svg);
    background-color: hsl(235, 16%, 14%);
    font-family: Red Hat Text;
}
.landPage h1{
    color: white;
    text-align: center;
}
.clock{
    display: flex;
    gap: 30px;
}
.flip{
    position: relative;
    width: 130px;
    height: 130px;
    margin: 2px;
    font-size: 70px;
    line-height: 130px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px hsl(234, 17%, 12%);
    background-color: hsl(236, 21%, 26%);
    color: hsl(345, 95%, 68%);
}


.digital::before,
.digital::after{
    position: absolute;
    content: attr(data-number);
    left: 0;
    right: 0;
    overflow: hidden;
    perspective: 160px;
}
.digital::before{
    top: 0;
    bottom: 50%;
    border-bottom: 1px solid hsl(234, 17%, 12%);
    border-radius: 10px 10px 0 0 ;
}
.digital::after{
    top: 50%;
    bottom: 0;
    line-height: 0;
    border-radius: 0 0 10px 10px;
}

.digital.front::after,
.digital.back::before{
    z-index: 1;
}
.digital.back::after{
    transform-origin: top center;
    transform: rotateX(0.5turn);
    z-index: 2;
}
.digital.front::before{
    z-index: 3;
}

